<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flexible.dev.base.board.mapper.BoardMapper">
    <select id="selectList" resultMap="com.flexible.dev.base.board.dto.BoardDTO">
      SELECT  *
      FROM  BOARD
    </select>
</mapper>